<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Summernote Form</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body>
  <div class="container">
    <h2>Summernote Article Form</h2>
    <form action="/summernote" method="POST">
      <textarea name="summernoteInput" class="summernote"></textarea>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script>
    $(document).ready(function() {
      $('.summernote').summernote();
    });
  </script>
</body>
</html> 